<!doctype html>
<html ng-app="app">
<head>
    <title>Kaggle Solutions</title>
    <meta charset="UTF-8">

    <link href="image/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="vendors/tablesort.css" />
</head>
<body ng-controller="MainController">

<div class="container-fluid theme-showcase" role="main">
    <div class="container">
        <div class="jumbotron">
            <h1>Kaggle Solutions</h1>
            <p>If you are working on a data science or Machine Learning problem, there is a good chance you will find inspiration here!<br/>
                <b><a href="https://github.com/rakash/kaggle-solutions">Pull Requests</a> are more than welcome. </b></p> 
            <p></p>
        </div>
    </div>
    
    <form class="form-inline">
        <div class="form-group">
            <input ng-model="search.$" class="form-control" id="search" placeholder="Search">
	    <br>
 	    <br>
		<p><b>Last updated on <span id='myId'></span></b></p>
        </div>
    </form>
    
    <script> 
    var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
    var date = new Date(document.lastModified); 
    var dd = date.getDate(); 
    var mm = date.getMonth();
    var yyyy = date.getFullYear(); 
    var newDate = dd+"-"+months[mm]+"-" +yyyy;
    var p = 12-Nov-2022;
    p.innerHTML = newDate; 
    </script>

    <script>
    const Fs = require('fs');
    var { mtime, ctime } = Fs.statSync('/home/runner/work/kaggle-solutions/kaggle-solutions/competitions.yaml');
    var p = document.getElementById("myIdd"); 
    p.innerHTML = '11-12-2022';
    </script>
  
    <div class="row" style="overflow: scroll">
        <table class="table" ts-wrapper>
            <thead>
            <tr>
                <th></th>
                <th bgcolor="#ccffe6" ts-criteria="competitionTitle|lowercase">Competition</th>
                <th bgcolor="#ccffe6" Solutions, interviews and articles</th>
		<!-- <th bgcolor="#ccffe6" ts-criteria="deadline|parseDate" ts-default="descending" style="min-width: 100px;">Deadline</th> -->
		<th bgcolor="#ccffe6" ts-criteria="deadline" style="min-width: 100px;">Deadline</th>    
                <th bgcolor="#ccffe6" ts-criteria="types" >Type</th>
                <th bgcolor="#ccffe6" ts-criteria="evaluationMetric" style="min-width: 100px;">Evaluation</th>
                <th bgcolor="#ccffe6" ts-criteria="rewardQuantity | parseFloat" style="min-width: 100px;">Reward</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="competition in competitions | filter:search:strict" ts-repeat>
                <td>
                    <a target="_blank" ng-href="https://www.kaggle.com{{competition.competitionUrl}}">
                        <img ng-src="{{competition.thumbnailImageUrl}}" alt="Logo" width="100"/>
                    </a>
                </td>
                <td style='max-width: 300px;'>
                    <h4><a target="_blank" ng-href="https://www.kaggle.com{{competition.competitionUrl}}">{{competition.competitionTitle}}</a></h4>
                    <p>{{competition.competitionDescription}}</p>
                </td>
                <td style="min-width: 300px;">
                    <p>
                        <a target="_blank" ng-href="https://www.kaggle.com{{competition.competitionUrl}}/forums">Forum</a>
                    </p>
                    <ul>
                        <li ng-repeat="solution in competition.solutions">
                            <a target="_blank" ng-href="{{solution.url}}">
                                {{solution.label}}
                            </a>
							<div class="solution-tags">{{solution.tags}}</div>
                        </li>
                    </ul>
                    <p ng-if="competition.repositories">Repositories</p>
                    <ul>
                        <li ng-repeat="repo in competition.repositories">
                            <a target="_blank" ng-href="{{repo.url}}">
                                {{repo.label}}
                            </a>
                        </li>
                    </ul>
                    <p ng-if="competition.interviews">Interviews</p>

                    <ul>
                        <li ng-repeat="interview in competition.interviews">
                            <a target="_blank" ng-href="{{interview.url}}">
                                {{interview.label}}
                            </a>
                        </li>
                    </ul>

                </td>

                <td>{{competition.deadline | date:'yyyy-MM-dd'}}</td>
                <td><span ng-repeat="type in competition.types">{{type}}{{$last ? '' : ', '}} </span></td>
                <td>{{competition.evaluationMetric}}</td>
                <td>{{competition.rewardDisplay || ('$' + competition.rewardQuantity)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="vendors/angular-tablesort.js"></script>
<script src="vendors/js-yaml.min.js"></script>
<script src="app.js"></script>
</body>
</html>
